:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
.nav-bar {
  display: flex;
  background-color: #512da8;
  justify-content: space-between;
}
.top-nav {
  color: white;
  padding-left: 0.5rem;
}
.nav-list {
  color: white;
  list-style: none;
  padding-top: 1.5rem;
}
nav a {
  justify-content: right;
  padding: 1rem;
}
.pic-of-the-day {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-text {
  text-align: center;
  color: white;
  padding: 10%;
  font-size: 2rem;
  margin: 0%;
}
.image-description {
  text-align: center;
  padding: 0%;
  font-size: 12.8px;
}
.launches {
  background-color: #ffc107;
  padding: 1%;
  color: #212121;
  margin: 0%;
  margin-bottom: 1%;
}
.button-and-api {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button-left {
  background-color: #ffc107;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 35px;
  margin-top: 7%;
}
.api-info {
  background-color: #ededed;
  align-content: center;
  width: 75%;
  height: 20%;
  padding: 1%;
  border-radius: 8px;
}
.center {
  text-align: center;
}

a {
  color: white;
  justify-content: space-between;
}

.name-of-launch {
  text-align: center;
}
.button-right {
  background-color: #ffc107;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 80px;
  height: 35px;
  margin-top: 7%;
}
.mission-statement {
  background-color: #d1c4e9;
  text-align: center;
  color: #212121;
}
.ms-title {
  padding-top: 2%;
}
.alien-text {
  margin: 0%;
  padding: 2%;
  padding-top: 0%;
}
.footer {
  text-align: center;
  background-color: #673ab7;
  color: #ededed;
  margin: 0%;
  padding: 2%;
}
